body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #4c6164;
  color: white;
  font-family: sans-serif;
}
.buttons {
  margin-top: 25px;
}
.buttons button {
  padding: 3px 11px;
  cursor: pointer;
  background: #278999;
  outline: none;
  border: none;
  font-size: 30px;
  color: white;
  margin: 0 5px;
  border-radius: 6px;
  box-shadow: 0 0 5px #0000003b;
}
.counterOutput {
  font-size: 54px;
}
